USE [master]
GO
/****** Object:  Database [Hall]    Script Date: 10/12/2022 17:18:47 ******/
CREATE DATABASE [Hall]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hall', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Hall.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hall_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Hall_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hall].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hall]
GO
/****** Object:  Table [dbo].[Attributes]    Script Date: 10/12/2022 17:18:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attributes](
	[AttributeId] [int] IDENTITY(1,1) NOT NULL,
	[strength] [int] NULL,
	[dexterity] [int] NULL,
	[constitution] [int] NULL,
	[intelligence] [int] NULL,
	[wisdom] [int] NULL,
	[charisma] [int] NULL,
 CONSTRAINT [PK_Attributes] PRIMARY KEY CLUSTERED 
(
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hall]    Script Date: 10/12/2022 17:18:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hall](
	[HallId] [int] IDENTITY(1,1) NOT NULL,
	[KnightId] [int] NOT NULL,
 CONSTRAINT [PK_Hall] PRIMARY KEY CLUSTERED 
(
	[HallId] ASC,
	[KnightId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Knight]    Script Date: 10/12/2022 17:18:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Knight](
	[KnightId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[nickname] [varchar](50) NULL,
	[birthday] [varchar](10) NULL,
	[keyAttribute] [varchar](50) NULL,
	[Idade] [int] NULL,
	[Armas] [int] NULL,
	[Ataque] [int] NULL,
	[Exp] [decimal](18, 0) NULL,
	[AttributeId] [int] NULL,
	[IsAtivo] [bit] NULL,
 CONSTRAINT [PK_Knight] PRIMARY KEY CLUSTERED 
(
	[KnightId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KnightWeapon]    Script Date: 10/12/2022 17:18:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KnightWeapon](
	[KnightId] [int] NOT NULL,
	[WeaponId] [int] NOT NULL,
 CONSTRAINT [PK_KnightWeapon] PRIMARY KEY CLUSTERED 
(
	[KnightId] ASC,
	[WeaponId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weapon]    Script Date: 10/12/2022 17:18:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weapon](
	[WeaponId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[mod] [int] NULL,
	[attr] [varchar](50) NULL,
	[equipped] [bit] NOT NULL,
 CONSTRAINT [PK_Weapon] PRIMARY KEY CLUSTERED 
(
	[WeaponId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Hall]  WITH CHECK ADD  CONSTRAINT [FK_Hall_Knight] FOREIGN KEY([KnightId])
REFERENCES [dbo].[Knight] ([KnightId])
GO
ALTER TABLE [dbo].[Hall] CHECK CONSTRAINT [FK_Hall_Knight]
GO
ALTER TABLE [dbo].[Knight]  WITH CHECK ADD  CONSTRAINT [FK_Knight_Attributes] FOREIGN KEY([AttributeId])
REFERENCES [dbo].[Attributes] ([AttributeId])
GO
ALTER TABLE [dbo].[Knight] CHECK CONSTRAINT [FK_Knight_Attributes]
GO
ALTER TABLE [dbo].[KnightWeapon]  WITH CHECK ADD  CONSTRAINT [FK_KnightWeapon_Knight] FOREIGN KEY([KnightId])
REFERENCES [dbo].[Knight] ([KnightId])
GO
ALTER TABLE [dbo].[KnightWeapon] CHECK CONSTRAINT [FK_KnightWeapon_Knight]
GO
ALTER TABLE [dbo].[KnightWeapon]  WITH CHECK ADD  CONSTRAINT [FK_KnightWeapon_Weapon] FOREIGN KEY([WeaponId])
REFERENCES [dbo].[Weapon] ([WeaponId])
GO
ALTER TABLE [dbo].[KnightWeapon] CHECK CONSTRAINT [FK_KnightWeapon_Weapon]
GO
USE [master]
GO
